body {
  height: 100%;
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background: -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background: -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background: -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  background: linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%);
  color: white;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 6rem;

  .inner {
    display: table;
    margin: auto;

    p {
      font-size: 6rem;
      cursor: pointer;
    }
  }
}